{# templates/user/base.html.twig #}

{% trans_default_domain 'gui' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'welcome_homepage'|trans}}{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="container-fluid" id="override-bs-css-header">
            <header>

                <!-- Navigation ================================================== -->

                <div class="container-fluid" id="override-bs-css-navbar">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light xs-fixed-bottom">
                        <a class="navbar-brand" href="#">Navbar [{{ app.request.getLocale() }}]</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-zero">
                                {% if app.user %}
                                <li class="nav-item active greetings">
                                    {{ 'hello'|trans }} {{ app.user.username }}
                                </li>
                                {% endif %}
                                <li class="nav-item active">
                                    <a class="nav-link" href={{ path('homepage') }}>{{ 'home'|trans }}
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                {% if app.user %}
                                <li class="nav-item active">
                                    <a class="nav-link" href={{ path('trick_new') }}>{{ 'add_a_trick'|trans }}
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href={{ path('app_logout') }}>{{ 'logout'|trans }}
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                {% else %}
                                <li class="nav-item active">
                                    <a class="nav-link" href={{ path('user_registration') }}>{{ 'register'|trans }}
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href={{ path('user_login') }}>{{ 'login_menu'|trans }}
                                        <span class="sr-only">(current)</span></a>
                                </li>
                                {% endif %}
                                {#
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Disabled</a>
                                </li>
                                #}
                            </ul>
                        </div>
                    </nav>
                </div>

            </header>
        </div>

        {% block body %}{% endblock %}

        <footer class="container-fluid bg-light">
            <div class="col-xs-12">
                <p class="medium">Copyright © 2019</p>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html> 