{# templates/index.html.twig #}
{% trans_default_domain 'gui' %}
{% extends 'layout.html.twig' %}
{% block content %}
    <!-- Home ================================================== -->
    <div class="container-fluid">
        <div class="row" id="home">
            <img src="{{ asset('./build/images/homepage.jpg') }}" alt="homepage-image" />
                <div class="col-xs-12 text-center" id="home-text">
                    <h1>
                        <p class="bold">
                            {{ 'welcome_homepage'|trans }}
                        </p>
                    </h1>
                </div>
                {# On affiche tous les messages flash #}
                {% for label, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="flash flash-{{ label }} alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="arrow-div" id="arrow-down">
                <i class="fa fa-arrow-down"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <a class="anchor" id="tricks-anchor"></a>
        <section class="row" id="tricks-list">
            {% include 'trick/tricksBlock.html.twig' with tricksArray %}
        </section>
    </div>

    <div class="container">
        <section class="row">
            <button type="button" class="btn btn-primary center-button load-more-button">{{ 'load_more'|trans}}</button>
        </section>
    </div>

    <div class="arrow-div" id="arrow-up">
        <i class="fa fa-arrow-up"></i>
    </div>

    <input type="hidden" class="tricksTotalNumber" value="{{ totalNumberOfTricks }}">
    <input type="hidden" class="numberOfInitialLoadedTricks" value="{{ numberOfLoadedTricks }}">
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

            let tricksLoadingLimit = Number($('.numberOfInitialLoadedTricks').val());
            let loadedTricks = tricksLoadingLimit;

            $('.load-more-button').on("click", function(e) {
                e.preventDefault();
                var $this = $(this);
                var loadingText = "<i class='fa fa-spinner fa-spin '></i> {{ 'loading_more'|trans}}";
                if ($(this).html() !== loadingText) {
                  $this.data('original-text', $(this).html());
                  $this.html(loadingText).delay( 2000 );
                }
                // We add the limit and the offset at the end of the "load_tricks" route
                var url = "{{ path('load_tricks') }}/" + tricksLoadingLimit + "/" + loadedTricks;
                loadTricks(url);
            
                function loadTricks(url) {
                    $.ajax({
                        type: "GET",
                        url: url
                    }).done(function (data) {
                        let container = $('#tricks-list');
                        container.append(data);

                        let newTricksNumber = (data.match(/<article /g) || []).length;
                        loadedTricks += newTricksNumber;
                        let totalNumberOfTricks = Number($('.tricksTotalNumber').val());

                        if ($('.load-more-button').length == 1 && loadedTricks == totalNumberOfTricks) {
                            $('.load-more-button').parent().parent().hide();
                        }
                        $this.html($this.data('original-text'));
                    }).fail(function () {
                        alert('Could not load tricks.');
                        $this.html($this.data('original-text'));
                    });
                }
            });

            $(".fa-arrow-down").on("click", function(){
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#tricks-list").offset().top - 10
                }, 500);
            });

            $(".fa-arrow-up").on("click", function(){
                $([document.documentElement, document.body]).animate({
                    scrollTop: $(document.body).offset().top
                }, 500);
            });

        });
    </script>
{% endblock %}