{# templates/index.html.twig #}
{% trans_default_domain 'gui' %}
{% extends 'layout.html.twig' %}
{% block content %}
    <!-- Home ================================================== -->
    <div class="container-fluid">
        <div class="row" id="home">
            <img src="{{ asset('./build/images/homepage.jpg') }}" alt="homepage-image" />
                <div class="col-xs-12 text-center" id="home-text">
                    <h1>
                        <p class="bold">
                            {{ 'welcome_homepage'|trans }}
                        </p>
                    </h1>
                </div>
                {# On affiche tous les messages flash #}
                {% for label, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="flash flash-{{ label }} alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="arrow-div" id="arrow-down">
                <i class="fa fa-arrow-down"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <a class="anchor" id="tricks-anchor"></a>
        <section class="row" id="tricks-list">
            {% include 'trick/tricksBlock.html.twig' with tricksArray %}
        </section>
    </div>

    <div class="container load-more-button-div">
        <section class="row">
            <button type="button" class="btn btn-primary center-button load-more-button">{{ 'load_more'|trans}}</button>
        </section>
    </div>

    <div class="arrow-div" id="arrow-up">
        <i class="fa fa-arrow-up"></i>
    </div>

    <input type="hidden" class="totalNumberOfTricks" value="{{ totalNumberOfTricks }}">
    <input type="hidden" class="numberOfInitialLoadedTricks" value="{{ numberOfInitialLoadedTricks }}">
    <input type="hidden" class="tricksLoadMoreLimit" value="{{ tricksLoadMoreLimit }}">
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

            let totalNumberOfTricks = Number($('.totalNumberOfTricks').val());
            let numberOfLoadedTricks = Number($('.numberOfInitialLoadedTricks').val());
            let tricksLoadMoreLimit = Number($('.tricksLoadMoreLimit').val());

            // We make the values consistant, according to the number of tricks
            // stored in the database.
            if (numberOfLoadedTricks > totalNumberOfTricks) {
                numberOfLoadedTricks = totalNumberOfTricks;
            }

            function manageLoadMoreButton() {
                //alert(totalNumberOfTricks + " / " + numberOfLoadedTricks);
                if (numberOfLoadedTricks == totalNumberOfTricks) {
                    $(".load-more-button-div").hide();
                }
                else {
                    $(".load-more-button-div").show();
                }
            }

            function manageUpArrow() {
                //alert(totalNumberOfTricks + " / " + numberOfLoadedTricks);
                if (numberOfLoadedTricks > 15) {
                    $("#arrow-up").show();
                }
                else {
                    $("#arrow-up").hide();
                }
            }

            // When scrolling to some sections of the page, the offset depends
            // on the location of the navbar: at the bottom of the screen for
            // extra small (xs) screens, or at the top for other widths.
            // This function returns the additional offset accordingly.
            function headerheight() {
                if($(".xs-fixed-bottom:visible").length == 1) {
                    return 0;
                }
                else {
                    return 75;
                }
            }

            function loadTricks(url) {
                // See https://stackoverflow.com/a/9865124/10980984
                // about the "return" statement.
                return $.ajax({
                    type: "GET",
                    url: url
                }).done(function (data) {
                    let container = $("#tricks-list");
                    container.append(data);

                    let addedTricksNumber = (data.match(/<article /g) || []).length;
                    numberOfLoadedTricks += addedTricksNumber;

                    if ($(".load-more-button").length == 1 && numberOfLoadedTricks == totalNumberOfTricks) {
                        $(".load-more-button-div").hide();
                    }
                }).fail(function () {
                    alert('Could not load tricks.');
                });
            }

            $('.load-more-button').on("click", function(e) {
                e.preventDefault();
                var $this = $(this);
                var initialButtonOffset = $this.offset();
                var loadingText = "<i class='fa fa-spinner fa-spin '></i> {{ 'loading_more'|trans}}";
                if ($this.html() !== loadingText) {
                  $this.data("original-text", $this.html());
                  $this.html(loadingText);
                  //alert('changed');
                }
                // We add the limit and the offset at the end of the "load_tricks" route.
                var url = "{{ path('load_tricks') }}/" + tricksLoadMoreLimit
                    + "/" + numberOfLoadedTricks;

                $.when(loadTricks(url)).done(function(){
                    $this.html($this.data('original-text'));
                    manageUpArrow();
                    $("html, body").animate({
                        scrollTop: initialButtonOffset.top - 10 - headerheight()
                    }, 500);
                });
            });

            $(".js-delete-trick").on("click", function (e) {
                e.preventDefault();
                /*let el = $(this).find(".fa-trash-alt");
                alert(el.attr("title"));
                el.css("opacity", 0.4).css("cursor", "default");
                */

                if(confirm("{{'confirm_delete_trick'|trans }}")) {
                    var url = $(this).attr("href");
                    var token = $(this).data("token");

                    $.post(url, {token: token}
                    ).done(function (data) {
                        var id = JSON.parse(data).id;
                        // We hide the deleted image div with an collapse animation.
                        $( "div[trick-id=" + id + "]" ).find(".tricks-list-admin-icons, .tricks-list-admin-icons *").animate({
                                opacity: 0.1,
                                width: 0
                            }, 400);
                        $( "div[trick-id=" + id + "]" ).animate({
                                opacity: 0.1,
                                flexBasis: "0%"
                            }, 500, function() {
                            // Animation complete.
                            $( "div[trick-id=" + id + "]" ).remove();
                        });

                        totalNumberOfTricks--;
                        numberOfLoadedTricks--;

                        // We add load one trick to fill the space left
                        // by the deleted one.
                        var url = "{{ path('load_tricks') }}/" + 1
                            + "/" + numberOfLoadedTricks;

                        loadTricks(url);
                        manageUpArrow();
                    }).fail(function () {
                        alert("Could not delete trick.");
                    });                    
                }
                else {
                    alert("{{'trick_deletion_failed'|trans }}");
                }

                //el.css("opacity", 1).css("cursor", "pointer");
            });

            $(".fa-arrow-down").on("click", function(){
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#tricks-list").offset().top - 10 - headerheight()
                }, 500);
            });

            $(".fa-arrow-up").on("click", function(){
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#tricks-list").offset().top - 10 - headerheight()
                }, 500);
            });

            manageLoadMoreButton();
            manageUpArrow();

        });
    </script>
{% endblock %}