{# templates/trick/edit.html.twig #}

{% trans_default_domain 'gui' %}

{% extends 'layout.html.twig' %}
{% block content %}
    <!-- Edition page ================================================== -->
    {#<div
        class="page-bg container-fluid" style="background-image: url({{ asset('./uploads/images/' ~ cover_image) }})">
    </div>
    #}
    {% if app.user %}
        <div
            class="page-bg container-fluid" style="background-image: url({{ asset('./uploads/images/' ~ cover_image) }})">
        </div>
        <div class="container main">
            {# On affiche tous les messages flash #}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }} alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="trick-update-warning-title">
                <i class="fas fa-pen" aria-hidden="true"></i>
                {{'update_a_trick'|trans }}
            </div>
            {{ form_start(form, {'attr': {'class': 'trick_form trick_edit_form'}}) }}
            <div class="container header-img-div">
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="trick-header row">
                    <img src="{{ asset('./uploads/images/' ~ cover_image) }}">
                    <div class="col-xs-12 text-center trick-title">
                        <h1>
                            <span class="bold" style="opacity: 1; display: inline;">
                                {{ trick.name }}</span>
                        </h1>
                    </div>
                </div>
                <div class="admin-icons">
                    <span class='cover-image-admin-title'>{{'cover_image'|trans }}</span>
                    <a href={{ url("trick_edit", {"id": trick.id} ) }}><i class="fas fa-pen" aria-hidden="true"></i></a>
                    <a href={{ url("trick_delete", {"id": trick.id} ) }}><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="container d-md-none see-medias-btn-div">
                <section class="row">
                    <button class="btn btn-primary center-button see-medias-btn" type="button">See medias</button>
                </section>
            </div>
            <div class="container trick-detail-container-div">
                <a class="anchor" id="tricks-anchor"></a>
                <section class="row" id="trick-detail-list">
                    {% for media in trick.medias %}
                        {% if media.fileType == 0 %}
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6 col trick-photo-thumbnail-div">
                            <article class="trick-photo-thumbnail" data-toggle="modal" data-target="#myModal" media-id="{{ media.id }}">
                                <img src="{{ asset('./uploads/images/' ~ media.id ~ '.' ~ media.fileUrl) }}" alt="{{ media.alt }}"></a>
                            </article>
                            <div class="media-admin-icons">
                                <i class="fas fa-pen edit-icon" aria-hidden="true" media-id="{{ media.id }}" title="{{'edit_this_image'|trans }}"></i>
                                <a href="{{ path('media_delete', {'id': trick.id, 'mediaId': media.id}) }}" class="js-delete-media" id="{{ media.id }}" data-token="{{ csrf_token('delete_media_tk') }}">
                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6 col trick-video-thumbnail-div">
                            <article class="trick-video-thumbnail" data-toggle="modal" data-target="#myModal" media-id="{{ media.id }}">
                                {{ media.fileUrl | raw }}
                            </article>
                            <div class="media-admin-icons">
                                <i class="fas fa-pen edit-icon" aria-hidden="true" media-id="{{ media.id }}" title="{{'edit_this_video'|trans }}"></i>
                                <a href="{{ path('media_delete', {'id': trick.id, 'mediaId': media.id}) }}" class="js-delete-media" id="{{ media.id }}" data-token="{{ csrf_token('delete_media_tk') }}">
                                    <i class="fas fa-trash-alt" aria-hidden="true" title="{{'delete_this_video'|trans }}"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </section>
            </div>
            <div class="container trick_edit_form_container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="well">
                            {{ form_row(form.medias) }}
                            {{ form_errors(form.medias) }}
                            <div class="add_media_buttons_div">
                                <input class="btn btn-primary outline" type="button" id="add_image" value="{{'add_an_image'|trans }}"/>
                                <input class="btn btn-primary outline" type="button" id="add_video" value="{{'add_a_video'|trans }}"/>
                            </div>
                            {{ form_row(form.name) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.trickGroup) }}
                            {{ form_row(form._token) }}
                            <input class="btn" type="submit" value="{{'update_trick'|trans }}"/>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>

        {{ include('trick/modal.html.twig') }}   
    {% else %} 
        You must be logged in to edit a trick.
    {% endif %}  
{% endblock %}

{% block javascripts %}
    {# On charge la bibliothèque jQuery depuis le CDN google. #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // On page load, we first remove from the DOM the form elements
            // not useful for medias update.

            // For images we remove the fileUrl field.
            // For videos we remove the file upload field.
            $("input[id$='_fileType'][value='0']").parentsUntil("fieldset.form-group").find("input[id$='_fileUrl']").parent('div').css('visibility', 'hidden').css('height', '0').css('margin', '0');
            $("input[id$='_fileType'][value='1']").parentsUntil("fieldset.form-group").find("input[id$='_file']").parent('div').css('visibility', 'hidden').css('height', '0').css('margin', '0');
            
            $('.edit-icon').on("click", function() {
                // We remove any red border around all images
                $('article[media-id]').children().css('border', 'none');
                $('article[media-id]').css('border', '1px solid black');

                // We add a red border only around the corresponding image
                $('article[media-id='+ $(this).attr('media-id') +']').children().css('border', '3px solid red');
                $('article[media-id='+ $(this).attr('media-id') +']').css('border', '1px solid red');

                // We hide all fieldsets...
                $("fieldset.form-group").hide(200).children().hide(200);

                // ... and we show the fieldset related to the chosen media.
                let targetFielset = $("input[id$='_id'][value='" + $(this).attr('media-id') + "']").parents("fieldset.form-group");
                targetFielset.show(200).children().not('legend, .btn-danger').show(200);
            });

            // On page load and after an image removal we check the number of
            // remaining images. When it remains only one we blur the "delete"
            // icon because at least one image must remain as trick cover image.
            function checkImageNumber() {
                //alert($('.trick-photo-thumbnail-div').length);
                if($('.trick-photo-thumbnail-div').length == 1) {
                    let el = $('.trick-photo-thumbnail-div').find('.fa-trash-alt');
                    el.css('opacity', 0.4).css('cursor', 'default').attr('title', "{{'Image_deletion_impossible_need_one_for_cover'|trans }}").parent().attr('class', 'do-nothing');
                } else {
                    $('.fa-trash-alt').each(function(){
                        $(this).css('opacity', 1).css('cursor', 'pointer').attr('title', "{{'delete_this_image'|trans }}").parent().attr('class', 'js-delete-media');
                    })
                }
            }
            
            $('.js-delete-media').on('click', function (e) {
                e.preventDefault();
                /*let el = $(this).find('.fa-trash-alt');
                alert(el.attr('title'));
                el.css('opacity', 0.4).css('cursor', 'default');
                */
                if(confirm("{{'confirm_delete_media'|trans }}")) {
                    var url = $(this).attr('href');
                    var token = $(this).data('token');
                    /*$.ajax({
                        url: url,
                        type: "POST",
                        token: token
                        */
                    $.post(url, {token: token}
                    ).done(function (data) {
                        var id = JSON.parse(data).id;
                        // We remove from the form the fieldset related to the deleted media.
                        let targetFielset = $("input[id$='_id'][value='" + id + "']").parents("fieldset.form-group");
                        targetFielset.remove();
                        // We hide the deleted image div with an collapse animation.
                        $( "article[media-id=" + id + "]" ).parent().animate({
                            opacity: 0.25,
                            width: 0
                          }, 500, function() {
                            // Animation complete.
                            $( "article[media-id=" + id + "]" ).parent().remove();
                          });

                        checkImageNumber();
                    }).fail(function () {
                        alert('Could not be deleted.');
                    });
                }

                //el.css('opacity', 1).css('cursor', 'pointer');
            });

            $('.do-nothing').on('click', function (e) {
                e.preventDefault();
            });

            checkImageNumber();
        });


    </script>

    {{ include('trick/tricksJsTranslations.js.twig') }}

    <script src="{{ asset('./build/trick.js') }}"></script>
{% endblock %}