{# templates/trick/index.html.twig #}

{% extends 'trick/layout.html.twig' %}

{% block content %}

    <!-- Home ================================================== -->

    <div class="container-fluid">
        <div id="home" class="row">
            <img src="{{ asset('./build/images/homepage.jpg') }}">
            <div id="home-text" class="col-xs-12 text-center">
                <h1>
                    <span class="bold" style="opacity: 1; display: inline;">Welcome to the snowboard tricks paradise!</span></h1>
            </div>
        </div>
        <div id="arrow-down">
            <a href="#tricks-anchor">
                <i class="fa fa-arrow-down" style="font-size:30px"></i>
            </a>
        </div>
    </div>

    <div class="container">
        <a class="anchor" id="tricks-anchor"></a>
        <section class="row" id="tricks-list">
            {% for i in 0..2 %}
                <div class="row">
                    {% for j in 0..4 %}
                        <div class="col trick-thumbnail">
                            <a href="trick-{{ i }}-{{ j }}.php">
                                <!--<img src="images/tricks/trick-{{ i }}-{{ j }}-thumb.jpg" alt="bla-bla">-->
                                <img src="{{ asset('./build/images/homepage.jpg') }}" alt="bla-bla">
                            </a>
                            <p>bla-bla</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}