{% for trick in tricksArray %}
    <div class="col-xl-2_4 col-lg-4 col-md-4 col-sm-6 col-xs-6 col trick-thumbnails-div"
        trick-id="{{ trick.id }}">
        <a href="{{ asset('./tricks/' ~ trick.id ~ '-' ~ trick.slug) }}">
            <article class="trick-thumbnail">
                <img src="{{ asset('./uploads/images/tricks/' ~ trick.coverImage) }}"
                    alt="{{ trick.name }}" />
                <p>
                    {{ trick.name }}
                </p>
            </article>
        </a>
        {% if app.user %}
            <div class="tricks-list-admin-icons">
                <a href="{{ path('trick_edit', {'id': trick.id}) }}">
                    <i class="fas fa-pen edit-icon" aria-hidden="true"
                        trick-id="{{ trick.id }}"></i>
                </a>
                {#<a href="{{ path('trick_delete', {'id': trick.id}) }}"
                    class="js-delete-trick" id="{{ trick.id }}">#}
                <a href="{{ path('trick_delete_ajax', {'id': trick.id}) }}"
                    class="js-delete-trick" id="{{ trick.id }}"
                    data-token="{{ csrf_token('delete_trick_tk') }}">
                    <i aria-hidden="true" class="fas fa-trash-alt"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endfor %}