{# templates/trick/view.html.twig #}

{% trans_default_domain 'gui' %}

{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Detail page ================================================== -->
    <div
        class="page-bg container-fluid" style="background-image: url({{ asset('./uploads/images/' ~ cover_image) }})">
    </div>
    <div class="container main">
        <div class="container header-img-div">
            <div class="trick-header row">
                <img src="{{ asset('./uploads/images/' ~ cover_image) }}" />
                <div class="col-xs-12 text-center trick-title">
                    <h1>
                        <span class="bold" style="opacity: 1; display: inline;">
                            {{ trick.name }}</span>
                    </h1>
                </div>
            </div>
            {% if app.user %}
            <div class="admin-icons">
                <a href={{ url("trick_edit", {"id": trick.id} ) }}><i class="fas fa-pen" aria-hidden="true"></i></a>
                <a href={{ url("trick_delete", {"id": trick.id, "slug": trick.slug} ) }}><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
            </div>
            {% endif %}
        </div>
        <div class="container d-md-none see-medias-btn-div">
            <section class="row">
                <button class="btn btn-primary center-button see-medias-btn" type="button">See medias</button>
            </section>
        </div>
        <div class="container d-none d-md-block">
            <a class="anchor" id="tricks-anchor"></a>
            <section class="row" id="trick-detail-list">
                {% for media in medias %}
                    {% if media.fileType == 0 %}
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6 col trick-photo-thumbnail-div">
                        <article class="trick-photo-thumbnail" data-toggle="modal" data-target="#myModal">
                        <!--<article class="trick-photo-thumbnail">-->
                            <img src="{{ asset('./uploads/images/' ~ media.id ~ '.' ~ media.fileUrl) }}" alt="{{ media.alt }}"></a>
                        </article>
                    </div>
                    {% else %}
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6 col trick-video-thumbnail-div" data-toggle="modal" data-target="#myModal">
                            <article class="trick-video-thumbnail" data-toggle="modal" data-target="#myModal">
                                {{ media.fileUrl | raw }}
                            </article>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        </div>

        {# On charge la bibliothèque jQuery depuis le CDN google. #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                let modalContainer = document.querySelector('div.modal-body');
                let photoElementsArray = document.getElementsByClassName('trick-photo-thumbnail');
                let videoElementsArray = document.getElementsByClassName('trick-video-thumbnail');

                Array.from(photoElementsArray).forEach(function(elem) {
                    elem.addEventListener("click", function(event) {
                        var targetElement = event.target || event.srcElement;
                        modalContainer.innerHTML = '<img src="' + targetElement.getAttribute('src') + '" class="img-responsive modal-image" data-toggle="modal" data-target="#myModal">';
                    });
                });

                Array.from(videoElementsArray).forEach(function(elem) {
                    elem.addEventListener("click", function(event) {
                        var targetElement = event.target || event.srcElement;
                        modalContainer.innerHTML = targetElement.innerHTML;
                    });
                });

                function centerModal() {
                    $(this).css('display', 'block');
                    var $dialog = $(this).find(".modal-dialog");
                    var offset = ($(window).height() - $dialog.height()) / 2;
                    // Center modal vertically in window
                    $dialog.css("margin-top", offset);
                }
                
                $('.modal').on('show.bs.modal', centerModal);
                $(window).on("resize", function () {
                    $('.modal:visible').each(centerModal);
                });
            });
        </script>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" class="img-responsive modal-image">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <section class="row col-10 offset-1 trick-description">
                {{ trick.description|nl2br }}
            </section>
        </div>
        <div class="container">
            <div class="row trick-infos-container">
                <div class="trick-info-box">
                    <div class="inner border-primary">
                        <span class="trick-info-text">Créé le
                            {{ trick.creationDate|date("d/m/Y") }}</span>
                    </div>
                </div>
                <div class="trick-info-box">
                    <div class="inner border-primary">
                        <span class="trick-info-text">{{ group_name }}</span>
                    </div>
                </div>
                {% if trick.lastUpdateDate != null %}
                <div class="trick-info-box">
                    <div class="inner border-primary">
                        <span class="trick-info-text">Modifié le
                            {{ trick.lastUpdateDate|date("d/m/Y") }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <hr>
        {% if app.user %}
        <div class="container">
            <section class="row">
                    {{ form_start(message_form, {'attr': {'class': 'leave-comment-form'}}) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(message_form) }}
                        </div>
                        <div id="form-div">
                            {{ form_widget(message_form.content) }}
                            {{ form_errors(message_form.content) }}
                            {{ form_row(message_form._token) }}
                            <!--<input class="btn btn-primary" type="submit" value="{{'leave_a_comment'|trans }}"/>-->
                            <button type="submit" class="btn btn-primary center-button submit-button">{{ 'leave_a_comment'|trans}}</button>
                            {{ form_end(message_form, {'render_rest': false}) }}
                        </div>
                        <div id="result-message-div">
                            <span class="result-message"></span>
                        </div>
                    <!--<div id="form-div">
                        <textarea id="leave-comment-text" placeholder="Your comment here"></textarea>
                        <button type="submit">Leave a comment</button>
                    </div>-->
                </form>
            </section>
        </div>
        <hr>
        {% endif %}
        <div class="container">
            <section class="row" id="messages-list">
                {% include 'trick/messagesBlock.html.twig' with messagesArray %}
            </section>
            <div class="container">
                <section class="row">
                    <button type="button" class="btn btn-primary center-button load-more-button">{{ 'load_more'|trans}}</button>
                </section>
            </div>
        </div>
    </div>

    <input type="hidden" class="messagesTotalNumber" value="{{ totalNumberOfMsg }}">
    <input type="hidden" class="numberOfInitialLoadedMessages" value="{{ numberOfLoadedMsg }}">

    {{ include('trick/modal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {# On charge la bibliothèque jQuery depuis le CDN google. #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {#<script src="{{ asset('./build/tools.js') }}"></script>#}

    <script type="text/javascript">

        function displayMessage(msgType, message, targetElem) {
            targetElem.html(message);
            switch (msgType) {
                case "success":
                    targetElem.removeClass('error').addClass('success');
                    break;
                case "error":
                    targetElem.removeClass('success').addClass('error');
                    break;
                default:
            }
            targetElem.slideDown(400).delay(2000).slideUp(400);
        };

        $(document).ready(function () {

            $form = $('.leave-comment-form');

            $form.find('.submit-button').on("click", function(e) {
                e.preventDefault();

                if ($.trim($('#message_content').val()) === "") {
                    displayMessage(
                        "error",
                        "{{ 'message_cant_be_empty'|trans}}",
                        $('.result-message')
                    );
                } else if ($('#message_content').val().length >= 2500) {
                    displayMessage(
                        "error",
                        "{{ 'message_too_long'|trans}}",
                        $('.result-message')
                    );
                } else {
                    var $this = $(this);
                    var waitingText = "<i class='fa fa-spinner fa-spin '></i> {{ 'action_running'|trans}}";
                    if ($(this).html() !== waitingText) {
                        $this.data('original-text', $(this).html());
                        $this.html(waitingText);
                    }
                    var url = "{{ path('message_new') }}";

                    saveMessage(url);
                
                    function saveMessage(url) {
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $form.serialize()
                        }).done(function (data) {
                            let container = $('#messages-list');
                            container.prepend(data);
                            displayMessage(
                                "success",
                                "{{ 'message_saved'|trans}}",
                                $('.result-message')
                            );
                            $('#message_content').val('')
                                .prop(
                                    'placeholder',
                                    "{{ 'your_comment_here'|trans}}"
                                );
                            $this.html($this.data('original-text'));
                        }).fail(function () {
                            displayMessage(
                                "error",
                                "{{ 'message_creation_failure'|trans}}",
                                $('.result-message')
                            );
                            $this.html($this.data('original-text'));
                        });
                    }  
                }
            });

            let messagesLoadingLimit = Number($('.numberOfInitialLoadedMessages').val());
            let loadedMessages = messagesLoadingLimit;

            $('.load-more-button').on("click", function(e) {
                e.preventDefault();
                var $this = $(this);
                var loadingText = "<i class='fa fa-spinner fa-spin '></i> {{ 'loading_more'|trans}}";
                if ($(this).html() !== loadingText) {
                    $this.data('original-text', $(this).html());
                    $this.html(loadingText);
                }
                // We add the limit and the offset at the end of the "load_tricks" route
                var url = "{{ path('load_messages') }}/" + messagesLoadingLimit + "/" + loadedMessages;

                loadMessages(url);
            
                function loadMessages(url) {
                    $.ajax({
                        type: "GET",
                        url: url
                    }).done(function (data) {
                        let container = $('#messages-list');
                        container.append(data);

                        let newMessagesNumber = (data.match(/class="comment-div"/g) || []).length;
                        loadedMessages += newMessagesNumber;
                        let totalNumberOfMsg = Number($('.messagesTotalNumber').val());

                        if ($('.load-more-button').length == 1 && loadedMessages == totalNumberOfMsg) {
                            $('.load-more-button').parent().parent().hide();
                        }
                        $this.html($this.data('original-text'));
                    }).fail(function () {
                        alert('Could not load messages.');
                        $this.html($this.data('original-text'));
                    });
                }
            });
        });
    </script>
{% endblock %}            
