{# templates/user/add.html.twig #}

{% trans_default_domain 'gui' %}

{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container full-height-container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-lg-6">
                <div
                    class="well">
                    {# On affiche tous les messages flash #}
                    {% for label, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                            <div class="flash flash-{{ label }} alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {{ form_start(form) }}
                    <legend>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        {{'create_an_account'|trans }}
                    </legend>
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>
                    {# form_widget(form) #}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form._token) }}
                    <input class="btn btn-primary" type="submit" value="{{'create_account'|trans }}"/>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}